{{!-- Connection sheet — description PART. --}}
<section class="gs-connection-sheet__description">
  <header class="gs-section-header" data-tooltip-key="connectionDescription">
    {{localize "GOODSOCIETY.connection.description"}}
  </header>
  {{editor system.bio.description target="system.bio.description" button=true editable=true}}
</section>
